@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

:root {
  --total-height: 100vh;

  background-color: #fff;
  color: #ffffff;
  box-sizing: border-box;
  font-family: "Amatic Sc", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #3c6e71;
  padding: 0;
  min-height: var(--total-height);
  min-width: auto;
}

#content {
  height: var(--total-height);
  width: 60%;
  margin: 0 auto;
}

.navigation {
  padding: 2vh;
}

.top-nav {
  font-size: 3vh;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.active {
  color: #fff952;
  font-size: 3.5vh;
}

ul {
  list-style: none;
  display: flex;
  gap: 5vh;
  justify-content: center;
  text-align: center;
  font-family: "Amatic Sc";
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  min-height: 90vh;
}

.title {
  font-family: "Amatic Sc", cursive;
  font-size: 10vh;
  font-weight: bold;
  margin: 1rem;
}

.headline {
  text-align: justify;
  margin: 2rem 0;
}

.hours {
  text-align: center;
}

.hours > h3 {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 700;
}
.image > img {
  max-height: 45vh;
  aspect-ratio: 1;
  margin: 1rem 0;
  background-size: cover;
  outline: white 10px auto;
  border-radius: 50%;
}

footer {
  font-size: 1.75vh;
  margin: 0;
  text-align: center;
  height: fit-content;
  margin-bottom: 1vh;
}
